// main: style.scss

/*------------------------------
	2.1 Typography
------------------------------*/
html, body {
	margin: 0;
	padding: 0;
	height: 100%;
	font-size: 14px;
}


body {
	background: #f8f9f9;
	//background: #edeff0;
	height: 100%;
}

body, p {
    font-family: $font_text;
    font-size: 13.5px;
    line-height: 1.8;
    color: $text;
}

// body {
// 	background: red;
// 	@include for(tiny-screens) {
// 		background: red;
// 	}
// 	@include for(small-screens) {
// 		background: blue;
// 	}
// 	@include for(medium-screens) {
// 		background: orange;
// 	}

// }

pre,
code,
input,
textarea {
	font: inherit;
}

::-moz-selection {
	background: #000000;
	color: #FFFFFF;
}

::selection {
	background: #000000;
	color: #FFFFFF;
}
/*------------------------------
	2.2 Links
------------------------------*/
a {
	color: $primary;
	text-decoration: none;
	&:hover{
		color: $hover;
		text-decoration: none;
	}
}

/*------------------------------
	2.3 Heading
------------------------------*/
h1,
h2,
h3,
h4,
h5,
h6 {
	clear: both;
	font-family: $font_heading;
	font-weight: normal;
	margin-bottom: 20px;
	margin-top: 0;
	@extend .break;
	color: #222222;
	& a {
		color: #222222;
		text-decoration: none;
	}
}

h1 {
	line-height: 1.6;
	font-size: 26px;
	letter-spacing: -0.5px;
	@include for(medium-screens) {
		font-size: 35px;
	}
	span {
		font-weight: bold;
	}
}

h2 {
	line-height: 1.6;
	font-size: 23px;
	@include for(medium-screens) {
		font-size: 26px;
	}
}

h3 {
	font-size: 20px;
	line-height: 1.6;
}

h4 {
	font-weight: normal;
	font-size: 18px;
}

h5 {
	font-size: 15px;
}

h6 {
	font-weight: normal;
	font-size: 13px;
}

/*------------------------------
	2.4 Base
------------------------------*/
ul,ol,dl,p,details,address,.vcard,figure,pre,fieldset,table,dt,dd,hr {
	margin-bottom: 15px;
	margin-top: 0;
}
p,ul,ol,dl,blockquote {
	@extend .break;
}


/*------------------------------
	2.5 Content
------------------------------*/
img {
	height: auto;
	max-width: 100%;
	vertical-align: middle;
}

b,
strong {
	font-weight: bold;
}

blockquote {
	clear: both;
	margin: $base 0;
	p {
		font-style: italic;
	}
	cite {
		font-style: normal;
		margin-bottom: $base;
		font-size: 13px;
	}
}

dfn,
cite,
em,
i {
	font-style: italic;
}

figure {
	margin: 0;
}

address {
	margin: $base 0;
}

hr {
	border: 0;
	border-top: 1px solid $border;
	height: 1px;
	margin-bottom: $base;
}

tt,
kbd,
pre,
code,
samp,
var {
	font-family: $monaco;
	background-color: $border;
	padding: 5px 7px;
	@include border-radius;
}

pre {
	overflow: auto;
	white-space: pre-wrap;
	max-width: 100%;
	line-height: 1.7;
	margin: $base 0;
	padding: $base;
	@extend .break;
}

details {
	summary {
		font-weight: bold;
		margin-bottom: $base;
	}
	:focus {
		outline: none;
	}
}

abbr,
acronym,
dfn {
	cursor: help;
	font-size: .95em;
	text-transform: uppercase;
	border-bottom: 1px dotted $border;
	letter-spacing: 1px;
}

mark {
	background-color: #fff9c0;
	text-decoration: none;
}

small {
	font-size: 75%;
}

big {
	font-size: 125%;
}

ul, ol {
	padding-left: 20px;
}

ul {
	list-style: disc;
}

ol {
	list-style: decimal;
}

ul li, ol li {
	margin: $base/2.5 0;
}

dt {
	font-weight: bold;
}

dd {
	margin: 0 $base $base;
}

/*------------------------------
	2.6 Table
------------------------------*/
table {
	width: 100%;
	margin-bottom: $base;
	border: 1px solid $border;;
	border-collapse: collapse;
    border-spacing: 0;
}

table > thead > tr > th,
table > tbody > tr > th,
table > tfoot > tr > th,
table > thead > tr > td,
table > tbody > tr > td,
table > tfoot > tr > td {
    border: 1px solid $border;
    line-height: 1.42857;
   	padding: 5px;
    vertical-align: middle;
    text-align: center;
}

table > thead > tr > th, table > thead > tr > td {
    border-bottom-width: 2px;
}

table th {
	font-size: 14px;
	letter-spacing: 2px;
	text-transform: uppercase;
}

/*------------------------------
	2.7 Form
------------------------------*/
fieldset{
	padding: $base;
	border: 1px solid $border;
}

input[type="reset"],input[type="submit"],input[type="submit"] {

	cursor: pointer;
	background: $primary;
	border: none;
	display: inline-block;
	color: #FFFFFF;
	letter-spacing: 1px;
	text-transform: uppercase;
	line-height: 1;
	text-align: center;
	padding: 17px 23px 18px 23px;
	@include border-radius(2px);
	margin: 3px 0;
	text-decoration: none;
	font-weight: 600;
	font-size: 13px;
	&:hover {
		opacity: 0.8;
	}

}

input[type="button"]:hover, input[type="button"]:focus,input[type="reset"]:hover,
input[type="reset"]:focus,input[type="submit"]:hover,input[type="submit"]:focus,
button:hover,button:focus {
	cursor:pointer;
}

textarea {
	resize: vertical;
}
select {
	max-width: 100%;
	overflow: auto;
	vertical-align: top;
	outline: none;
	border: 1px solid $border;
	padding: $base/2;
}

textarea,
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"] {
	cursor: pointer;
	max-width: 100%;
	background-color: transparent;
	border: 1px solid $border;
	-webkit-appearance: none;
	padding: $base/2 $base/1.3;
	@include border-radius( 2px );
	&:focus {
		outline: none;
		border-color: $primary;
	}
}

button::-moz-focus-inner {
	border: 0;
	padding: 0;
}

input[type="radio"],input[type="checkbox"] {
	margin:  0 $base/2;
}

input, textarea,input[type="submit"]:focus{
	outline: 0 none;
}

/*------------------------------
	2.8 Accessibility
------------------------------*/
/* Text meant only for screen readers */
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
}

.screen-reader-text:hover,
.screen-reader-text:active,
.screen-reader-text:focus {
	background-color: $meta;
	@include border-radius( 3px );
	clip: auto !important;
	color: $primary;
	display: block;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 17px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000; /* Above WP toolbar */
}

/*------------------------------
	2.9 Helper
------------------------------*/
.primary-color, .primary-bg {
	color: $primary;
}

.secondary-color, .secondary-bg {
	color: $secondary;
}

.text-transform-none {
	text-transform: none !important;
	h1, h2, h3, h4, h5 {
		text-transform: none !important;
	}
}

.fleft {
	float: left;
}

.fright {
	float: right;
}

.text-center {
	text-align: center;
}

.text-right {
	text-align: right;
}

.primary-colored {
	color: $primary;
}

.box-item {
  @extend .clearfix;
  padding: 20px 20px 16px 20px;
  margin-bottom: 15px;
}
