// main: style.scss

// Site
.site {
	//max-width: $width;
	margin: 0 auto;
}
.container {
	max-width: $width;
	padding: 0px 25px;
	margin: 0 auto;
	@extend .clearfix;
	position: relative;
	@include for(medium-screens) {
		padding: 0px 30px;
	}
	@include for(large-screens) {
		padding: 0px 50px;
	}
}

// Main Content
.site-content #content-wrap {
	padding-top: 40px;
	padding-bottom: 40px;
}

// .content-area {
// 	width: 100%;
// 	float: none;
// 	padding-bottom: 40px;
// 	@include for(medium-screens) {
// 		width: percentage( 680px / $grid ); //680px
// 		float: left;
// 		padding-bottom: 0px;
// 	}
// }

// .sidebar {
// 	width: 100%;
// 	float: none;
// 	@include for(medium-screens) {
// 		width: percentage( 300px / $grid ); // 300px
// 		float: right;
// 	}
// }

// .left-sidebar {
// 	.content-area {
// 		float: right;
// 	}
// 	.sidebar {
// 		float: left;
// 	}
// }



.content-area {
	width: 100%;
	float: none;
	padding-bottom: 40px;
	@include for(medium-screens) {
		width: percentage( 680px / $grid ); //680px
		float: left;
		padding-bottom: 0px;
	}
}
.sidebar {
	width: 100%;
	float: none;
	@include for(medium-screens) {
		width: percentage( 300px / $grid ); // 300px
		float: left;
	}
}

.content-box {
	padding: 30px;
}

.no-sidebar .content-box {
	padding: 40px;
	@include for(screens-medium) {
		padding: 5px;
	}
}

.no-sidebar .content-area {
	width: 100%;
}

@include for(medium-screens) {
	.left-sidebar .content-area {
		float: right;
	}

	.left-sidebar .sidebar {

	}

	.right-sidebar .content-area {

	}

	.right-sidebar .sidebar {
		float: right;
	}
}

/**/
.content-widgets {
	.widget {
		margin-bottom: $column;
	}
	&.frontpage-after-main {
		.widget{
			&:last-child {
					margin-bottom: 0px;
			}
		}
	}
}

/* SiteOrigin page builder extended */
$row_margin: percentage( ( ( $grid - ( 300px + 680px  ) )/ $grid  ) / 2 );
.panel-grid {
		margin-bottom: $column;
}
.wpc-pn-row-wrapper {
	@include for(medium-screens) {
		margin-left: - $row_margin;
		margin-right: - $row_margin;

		.panel-grid-cell {
			padding-left: $row_margin;
			padding-right: $row_margin;
		}

	}

	@include for(screens-medium) {
		margin-left: 0;
		margin-right: 0;

		.panel-grid-cell {
			padding-left: 0;
			padding-right: 0;
			float: none !important;
			width: 100% !important;
			margin-bottom: $column;
			&:last-child {
				margin-bottom: 0;
			}
		}

	}

}



// Grid System.
// .grid-row {
// 	margin-left: -25px;
// 	margin-right: -25px;
// 	@extend .clearfix;
// }
// .grid-xs-1, .grid-sm-1, .grid-md-1, .grid-lg-1, .grid-xs-2, .grid-sm-2, .grid-md-2, .grid-lg-2, .grid-xs-3, .grid-sm-3, .grid-md-3, .grid-lg-3, .grid-xs-4, .grid-sm-4, .grid-md-4, .grid-lg-4, .grid-xs-5, .grid-sm-5, .grid-md-5, .grid-lg-5, .grid-xs-6, .grid-sm-6, .grid-md-6, .grid-lg-6, .grid-xs-7, .grid-sm-7, .grid-md-7, .grid-lg-7, .grid-xs-8, .grid-sm-8, .grid-md-8, .grid-lg-8, .grid-xs-9, .grid-sm-9, .grid-md-9, .grid-lg-9, .grid-xs-10, .grid-sm-10, .grid-md-10, .grid-lg-10, .grid-xs-11, .grid-sm-11, .grid-md-11, .grid-lg-11, .grid-xs-12, .grid-sm-12, .grid-md-12, .grid-lg-12 {
// 	position: relative;
// 	min-height: 1px;
// 	padding-left: 25px;
// 	padding-right: 25px;
// }
// @media (min-width: 768px) {
// 	.grid-sm-1, .grid-sm-2, .grid-sm-3, .grid-sm-4, .grid-sm-5, .grid-sm-6, .grid-sm-7, .grid-sm-8, .grid-sm-9, .grid-sm-10, .grid-sm-11, .grid-sm-12 {
// 	float: left;
// 	}
// 	.grid-sm-12 {
// 	width: 100%;
// 	}
// 	.grid-sm-11 {
// 	width: 91.66666667%;
// 	}
// 	.grid-sm-10 {
// 	width: 83.33333333%;
// 	}
// 	.grid-sm-9 {
// 	width: 75%;
// 	}
// 	.grid-sm-8 {
// 	width: 66.66666667%;
// 	}
// 	.grid-sm-7 {
// 	width: 58.33333333%;
// 	}
// 	.grid-sm-6 {
// 	width: 50%;
// 	}
// 	.grid-sm-5 {
// 	width: 41.66666667%;
// 	}
// 	.grid-sm-4 {
// 	width: 33.33333333%;
// 	}
// 	.grid-sm-3 {
// 	width: 25%;
// 	}
// 	.grid-sm-2 {
// 	width: 16.66666667%;
// 	}
// 	.grid-sm-1 {
// 	width: 8.33333333%;
// 	}
// }
// @media (min-width: 992px) {
// 	.grid-md-1, .grid-md-2, .grid-md-3, .grid-md-4, .grid-md-5, .grid-md-6, .grid-md-7, .grid-md-8, .grid-md-9, .grid-md-10, .grid-md-11, .grid-md-12 {
// 	float: left;
// 	}
// 	.grid-md-12 {
// 	width: 100%;
// 	}
// 	.grid-md-11 {
// 	width: 91.66666667%;
// 	}
// 	.grid-md-10 {
// 	width: 83.33333333%;
// 	}
// 	.grid-md-9 {
// 	width: 75%;
// 	}
// 	.grid-md-8 {
// 	width: 66.66666667%;
// 	}
// 	.grid-md-7 {
// 	width: 58.33333333%;
// 	}
// 	.grid-md-6 {
// 	width: 50%;
// 	}
// 	.grid-md-5 {
// 	width: 41.66666667%;
// 	}
// 	.grid-md-4 {
// 	width: 33.33333333%;
// 	}
// 	.grid-md-3 {
// 	width: 25%;
// 	}
// 	.grid-md-2 {
// 	width: 16.66666667%;
// 	}
// 	.grid-md-1 {
// 	width: 8.33333333%;
// 	}
// }
