.primary-header {
    padding: 0px 0px;
    background: #0894d8 !important;
    color: #fff;
}
.site-navigation {
    background: #0894d8 !important;
    position: relative;
    z-index: 30;
}
.primary-navigation {
    width: 100%;
    border-top: 3px solid #0780bb !important;
}
.ui.btn, .ui.btn:hover, .ui.btn.btn_secondary, .coupon-button-type .coupon-deal, .coupon-button-type .coupon-print, .coupon-button-type .coupon-code .get-code {
    background-color: #0894d8 !important;
}
.coupon-button-type .coupon-deal, .coupon-button-type .coupon-print, .deal-loop .items .coupon-deal {
    background-image: url(/wp-content/themes/wp-coupon/assets/images/getcode-button-bl.png) !important;
    background-size: 100% 100%;
    padding: 14px 10px!important;
}
.coupon-button-type .coupon-code .get-code {
    display: inline-block;
    float: left;
    background-size: 100% 100%;
    background-image: url(/wp-content/themes/wp-coupon/assets/images/getcode-button-bl.png) !important;
    color: #FFFFFF;
    font-size: 14px;
    width: calc(100% - 53px);
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    transition: all 0.5s ease;
}
.coupon-button-type .coupon-code .arrow-code {
    display: inline-block;
    height: 44px;
    border-left: 53px solid transparent;
    background-image: url(/wp-content/themes/wp-coupon/assets/images/btn-getcode-bl.png) !important;
    float: left;
    margin-left: -2px;
    background-size: auto 100%;
}
.content-area .widget-title span, .frontpage-before-main .widget-title span, .frontpage-after-main .widget-title span {
    color: #0894d8 !important;
}
.circle.center-div {
    border: 2px solid #0894d8 !important;
    border-radius: 100px;
    font-size: 22px;
    padding: 5px 15px;
    color: #0894d8;
    text-transform: uppercase;
    line-height: 25px;
    background: #fff;
    font-weight: 100;
}
.site-footer {
    padding: 0;
    background: #0894d8 !important;
    color: #ffffff;
    font-size: 12.5px;
}
.site-footer .newsletter-box-wrapper.shadow-box .input .ui.button {
    padding-left: 16px;
    padding-right: 16px;
    color: #FFFFFF;
    font-size: 13px;
    text-align: center;
    letter-spacing: 1px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
  	background-color: #0780bb !important;
    border: 1px solid #066c9e !important;
    text-transform: capitalize;
}
.site-footer .footer_copy {
    padding-top: 25px;
    margin-top: 50px;
    padding-bottom: 25px;
    background: #0780bb !important;
}
.sub-menu li.menu-item.menu-item-type-custom>a{
  	background-color: #0780bb !important;
    border: 1px solid #0780bb !important;
  	color: #fff !important;
}
.sub-menu li.menu-item.menu-item-type-custom:hover>a{
  	background: #0894d8 !important;
  	color: #fff !important;
}
#secondary .widget_search .search-form input[type="submit"]{
  	background-color: #0780bb !important;
    border: 1px solid #0780bb !important;
    color: #0780bb !important;
}
#secondary .widget_newsletter .ui.action.input:not([class*="left action"])>.button:last-child, .ui.action.input:not([class*="left action"])>.buttons:last-child>.button, .ui.action.input:not([class*="left action"])>.dropdown:last-child,.box-refine .newsletter-box-wrapper.shadow-box .input .ui.button{
    background-color: #0780bb !important;
    color: #0780bb !important;
}
.pagingandtop .ui.pagination.menu a.item.prev.page-numbers, .pagingandtop .ui.pagination.menu a.item.next.page-numbers{
  	background: #0780bb !important;
}
.gotop a span{color: #0780bb !important;}
.circle.center-div{color: #0780bb !important;}
.show-all-button:hover{
  	background: #0894d8 !important;
    color: #fff !important;
}
.btn-submit-coupon{
  	border:1px solid #0780bb !important;
    color: #0780bb !important;
}
.box-refine .newsletter-box-wrapper.shadow-box .input .ui.button i{color: #fff !important;}
.col-2.featured-stores .shadow-box:hover, .deal-loop .shadow-box:hover, .store-listing-item .shadow-box:hover{box-shadow: 0px 0px 0px 1px #0894d8 inset !important;}
.frontpage-before-main .store-listing-item .pleft-15.shadow-box:hover{box-shadow: 0px 0px 0px 1px #0894d8 !important;}
.box-refine .seemore,.voted-value{color: #0780bb !important;}
.box-refine .checklist label:hover,a:hover{color: #0780bb !important;}
.box-refine .seemore:hover{color:#333333 !important;}
.deal-loop .ui.basic.active.button:not(.icon)>.icon:not(.button), .deal-loop .ui.basic.buttons .active.button:not(.icon)>.icon:not(.button){color: #0780bb !important;}
a.halloween, #header-search .header-search-submit,.show-all-button {
    padding: 12px;
    color: #fff !important;
    background: #0780bb !important;
    border: 1px solid #066c9e !important;
    border-radius: 3px;
    display: inline-block;
}
.ui.dimmer {
    background: rgba(0,45,67,0.8) !important;
}
.coupon-modal .coupon-content .modal-code .code-text, .single-store-header .header-thumb .header-store-thumb a:hover{
  border-color: #0894d8 !important;
}
.coupon-modal .coupon-content .modal-code .code-text{
  color: #0894d8 !important;
}
a.ui.button.btn.btn_secondary.go-store{
      background: none !important;
     color: #0894d8 !important;
}
.coupon-footer .postfooter-widget .newsletter-box-wrapper .ui.action .ui.button{
  background: #0780bb !important;
}
.coupon-modal .coupon-header .close{
  color: #0894d8 !important;
}
.box-refine .checklist [type="checkbox"]:checked + label:before{
      background: #0780bb !important;
}
.reveal-content .email_send_btn.ui.button.btn.btn_primary {
    background: #0780bb !important;
    border: 1px solid #0894d8 !important;
    color: #fff !important;
    padding-top: .78571429em;
    padding-bottom: .78571429em;
    border: none;
    box-shadow: none;
}
.deal-loop .sixteen.wide.column.pdbt0 .user-ratting.ui.icon.basic.buttons .ui.button.icon-popup:hover {
    box-shadow: none;
    background: none;
    color: #0894d8 !important;
}
.nothing-box .thumb{ color: #0894d8 !important;}
.nav-user-action .st-menu > li > ul > li > a{color: #333333;}
@media screen and (max-width: 480px){
.primary-header {
    position: absolute;
    left: 0;
    width: 100%;
    top: -165px;
    padding: 15px 0;
    z-index: 10;
    background: #0780bb !important;
}
  #header-search .header-search-input .header-search-submit {
    width: 80px;
    background-color: #0894d8 !important;
    padding: 0;
    line-height: 40px;
}
  #header-search .header-search-input .header-search-submit {
    padding: 0 !important;
    line-height: 50px !important;
}
}